<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/play.css' %}">
<link rel="stylesheet" href="{% static 'home/css/global.css' %}">

<title>Play</title>
</head>
<body>
<div id="Play">

	<img id="gmodback" src="/static/home/img/gmodback.png">
	<div id="Back">
		<span>Back</span>
	</div>
	
	<svg class="Rectangle_4">
		<rect fill="rgba(0,0,0,.3)" id="Rectangle_4" rx="27" ry="27" x="0" y="0" width="100%" height="100%">
		</rect>
	</svg>
	<div>
		<img src="https://cache.gametracker.com/server_info/208.103.169.158:27015/b_560_95_1.png" alt="Gmod DarkRP" class="serverinfo">

		<img src="https://cache.gametracker.com/server_info/116.202.164.243:2302/b_560_95_1.png" alt="Arma 3 Milsim" class="serverinfo1">

		<img src="https://cache.gametracker.com/server_info/208.103.169.33:27023/b_560_95_1.png" alt="Gmod TTT" class="serverinfo2">
	</div>

	<!-- <svg class="Rectangle_5">
		<rect fill="rgba(0,0,0,1)" id="Rectangle_5" rx="7" ry="7" x="0" y="0" width="446" height="77">
		</rect>
		
	</svg> -->
<!-- 
	<svg class="Rectangle_00 hvr-grow-shadow">
		<rect fill="rgba(0,178,6,1)" id="Rectangle_000" rx="19" ry="19" x="0" y="0" width="120" height="77">
		</rect>
	</svg> -->
	<a href="steam://connect/208.103.169.158:27015">
	<svg class="Rectangle_6 hvr-grow-shadow">
		<rect fill="rgba(0,178,6,1)" id="Rectangle_6" rx="19" ry="19" x="0" y="0" width="120" height="77">
		</rect>
		<text x="25" y="50" font-family="Lucida Sans" font-size="35" fill="rgba(112,112,112,0.929)">Play</text>
	</svg>
	</a>
		<!-- <div id="Play_q">
			<span>Play</span>
		</div> -->
	
	<!-- <div id="Play_q">
		<span>Play</span>
	</div> -->
	<!-- <svg class="Rectangle_7">
		<rect fill="rgba(0,0,0,1)" id="Rectangle_7" rx="7" ry="7" x="0" y="0" width="446" height="77">
		</rect>
	</svg> -->
	<a href="steam://connect/116.202.164.243:2302">
	<svg class="Rectangle_8 hvr-grow-shadow">
		<rect class="hvr-glow" fill="rgba(0,178,6,1)" id="Rectangle_8" rx="19" ry="19" x="0" y="0" width="120" height="77">
		</rect>
		<text x="25" y="50" font-family="Lucida Sans" font-size="35" fill="rgba(112,112,112,0.929)">Play</text>
	</svg>
	</a>
	<!-- <svg class="Rectangle_9">
		<rect fill="rgba(0,0,0,1)" id="Rectangle_9" rx="7" ry="7" x="0" y="0" width="446" height="77">
		</rect>
	</svg> -->
	<a href="steam://connect/208.103.169.33:27023">
	<svg class="Rectangle_10 hvr-grow-shadow">
		<rect class="hvr-glow" fill="rgba(0,178,6,1)" id="Rectangle_10" rx="19" ry="19" x="0" y="0" width="120" height="77">
		</rect>
		<text x="25" y="50" font-family="Lucida Sans" font-size="35" fill="rgba(112,112,112,0.929)">Play</text>
	</svg>
	</a>
	<div id="IllegitimateServers">
		<span>IllegitimateServers</span>
	</div>
	<svg class="Line_4" viewBox="0 0 85 1">
		<path fill="transparent" stroke="rgba(112,112,112,0.659)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_4" d="M 0 0 L 85 0">
		</path>
	</svg>
	<div onclick="window.history.back();return false;" class="hvr-pop" id="Group_3">
		<svg class="Line_5" viewBox="0 5 25 25">
			<path fill="transparent" stroke="rgba(58,58,58,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_5" d="M 0 25 L 25 0">
			</path>
		</svg>
		<svg class="Line_6" viewBox="0 5 25 25">
			<path fill="transparent" stroke="rgba(58,58,58,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_6" d="M 0 0 L 25 25">
			</path>
		</svg>
	</div>
	<!-- <div id="Play_">
		<span>Play</span>
	</div>
	<div id="Play_ba">
		<span>Play</span>
	</div> -->
</div>

</body>
</html> 